In [1]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/Henry_hepatic_panel2.csv')

In [3]:
df

,Total_bilirubin,ALT,Alk_Phos,AST,GGT,Gender,Outcome
0,9.441119,36.791244,76.764650,26.191645,43.205564,1,1
1,12.758202,30.752688,76.988811,26.968884,41.234771,0,1
2,11.886457,20.236067,69.085527,26.816799,27.447831,1,1
3,9.467049,35.785826,79.459414,24.198752,32.845424,1,1
4,10.324260,21.922535,80.326429,23.767753,51.327259,0,1
...,...,...,...,...,...,...,...
83,8.763597,23.718121,76.833119,22.744681,25.207048,1,0
84,11.337038,26.275182,78.818927,21.294692,27.004414,1,0
85,10.787440,16.655417,68.846640,20.761931,28.141710,0,0
86,7.227086,24.968131,63.066369,20.931733,31.518422,0,0
87,11.217910,26.347721,57.296197,25.716380,31.544632,1,0

In [4]:
### Independent and Dependent features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [5]:
X.head()

   Total_bilirubin        ALT   Alk_Phos        AST        GGT  Gender
0         9.441119  36.791244  76.764650  26.191645  43.205564       1
1        12.758202  30.752688  76.988811  26.968884  41.234771       0
2        11.886457  20.236067  69.085527  26.816799  27.447831       1
3         9.467049  35.785826  79.459414  24.198752  32.845424       1
4        10.324260  21.922535  80.326429  23.767753  51.327259       0

In [6]:
y.head(20)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: Outcome, dtype: int64

In [7]:
### Train Test Split
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [9]:
### Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [10]:
## Prediction
y_pred=classifier.predict(X_test)

In [11]:
### Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [12]:
score

0.8148148148148148

In [13]:
### Create a Pickle file using serialization 
import pickle
pickle_out = open("HClassifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [14]:
import numpy as np

In [ ]:
classifier.predict([[1,2,3,4,1,12,34,44]])